#waveform {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

:root {
  --icon-color: rgba(0, 102, 144, 0.7);
  --waveform-color: #006690;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #000;
  background-color: #fff;
  margin: 10;
  overflow: hidden;
}

p{
  color:#282828;
  font-size: 16px;
}


h1 {
  background-color:#006690;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 10px;
}

.tintedBlackLeft {
  background-color:#00000033;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  padding:11px 11px 11px 0px;
}

#iconOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.icon {
  width: 50%;
  height: 50%;
  opacity: 0;
  display: none;
  fill: var(--icon-color);
  transition: opacity 0.3s ease-in-out;
}

.icon.visible {
  opacity: 1;
  display: block;
}

img {
  cursor: pointer;
}

button {
  padding: 5px 9px 5px 9px;
  border-radius: 3px;
  font-size: 18px;
  border: 1px solid #0091CE;
  background-color: #0091CE;
  color: #fff;
}
